{% extends "base.html" %}

{% block main %}
<div class="card profile-card">
    <div class="card-header text-center bg-info">
        <img class="img-circle profile-pic img-responsive" src="{{url_for('static', filename='p21.jpg')}}" />
        <h1 class="card-title text-white">Jheanel Brown</h1>
        <p class="card-text text-light">@jiinngerbread</p>
        <p class="card-text text-light">Kingston, Jamaica</p>
        <p class="card-text text-light">joined, {{date}}</p>
    </div>
    <div class="card-body">
        <p class="card-text text-center text-muted">Hey there!! I am a Software Development Intern who also studies at the University of the West Indies, Mona.
            I love working in teams and creating new and interesting solutions.
        </p>
        <div class="container">
            <div class="row">
                <div class="col-sm text-center">
                    <h2 class="card-text">7</h2>
                    <p class="card-text text-muted">Posts</p>
                </div>
                <div class="col-sm text-center">
                    <h2 class="card-text">100</h2>
                    <p class="card-text text-muted">Following</p>
                </div>
                <div class="col-sm text-center">
                    <h2 class="card-text">250</h2>
                    <p class="card-text text-muted">Followers</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-center button">
        <button class="btn btn-primary"> Follow</button>
    </div>
</div>
{% endblock%}